div.postList {
	margin: 0;
	padding: 0;
}

div.postListToolbar {
	display: flex;
	justify-content: space-between;
}

div.postListNewPost {
	margin: 0 0 10px 20px;
	width: 60%;
}

div.sortList {
	display: flex;
	margin: 0 20px 10px 0px;
	padding-bottom: 1em;
	padding-left: 10px;
}

button.currentSort {
	font-weight: bold;
}

div.postListEntry:first-child {
	border-top: 1px solid;
}

div.postListEntry {
	margin: 0;
	padding: 8px 4px;
	display: flex;
	border-bottom: 1px solid;
}

div.postForm {
	border: 2px solid;
	display: flex;
	width: 80%;
	margin: 10px auto;
}

.flash-icon-close {
	position: relative;
	top: 0;
	right: 0;
	transition: transform 500ms ease-in-out;
}

span.rank {
	width: 2ex;
	float: left;
	margin-top: 15px;
	color: #c6c6;
	text-align: right;
	font-size: medium;
	overflow: hidden;
}

div.postListTitle {
	font-size: large;
	font-weight: bold;
	padding: 0 0 5px 0;
}

div.postListBody {
	font-size: medium;
	padding: 2px 2px 0 0;
}

div.postListAuthor {
	font-size: small;
}

div.postListComments {
	font-size: small;
	color: #c6;
}
