body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

div {
	border: 0px solid red;
}

.categoryMenu {
	padding-bottom: 1em;
	display: flex;
}

.logo svg {
	width: 2em;
	height: auto;
	float: left;
}

.errorbanner {
	background-color: red;
	color: white;
	text-align: center;
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

.errorlist {
	display: block;
}

.flash-icon-close {
	transition: transform 500ms ease-in-out;
	align-self: end;
}

.commentBlock {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex: 1 100%;
	border-bottom: 1px solid;
	padding: 10px 0;
}

.commentBlock:first-child {
	border-top: 1px solid;
}

.commentForm:first-child {
	border-top: 1px solid;
}

.commentBody {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 4 0px;
}

.icon {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

.postDetailVoteScore {
	display: flex;
}

.postComments {
	margin-top: 50px;
}
.postCommentsHeader {
	display: flex;
	justify-content: space-between;
	background-color: lightgrey;
	padding: 10px 0;
}

.postHeader {
	display: flex;
	justify-content: space-between;
	background-color: lightgrey;
	padding: 10px 0;
}

.postCommentList {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 20px;
	width: 80%;
}

ul.flex-outer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 10px;
}

.flex-outer li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

li.flex-submit {
	align-self: flex-end;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
	padding: 10px 0;
}

.flex-outer > li > label + * {
	flex: 1 0 220px;
}

.commentForm {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	border: 1px solid;
	width: 60%;
}

.commentListForm {
	margin: 0 auto;
	margin-top: 10px;
	flex-direction: row;
	display: flex;
	border: 1px solid;
	width: 95%;
}

div.postTitle {
	font-size: large;
	font-weight: bold;
	padding: 0 0 5px 0;
}

div.postBody {
	font-size: medium;
	padding: 2px 2px 0 0;
}

div.postAuthor {
	font-size: small;
}

div.mainPost {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
}

div.voteCol {
	width: 4ex;
	margin: 7px 0;
}

div.voteIcon {
	margin: 0 auto;
	cursor: pointer;
	width: auto;
	text-align: center;
}

div.voteScore {
	display: flex;
	flex-direction: column;
	text-align: center;
}

div.commentVoteScore {
	padding: 0 7px;
}

.authorBlock {
	color: grey;
	font-size: small;
	padding-right: 10px;
}
