body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.categoryMenu {
	padding-bottom: 1em;
}

.logo svg {
	width: 2em;
	height: auto;
}
.errorbanner {
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	padding: 1em;
}

.flash-icon-close {
	position: absolute;
	top: 0;
	right: 0;
	transition: transform 500ms ease-in-out;
}
